*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    height:100vh;

    background-image:url("background.jpeg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;

    font-family: Georgia, serif;

    position:relative;
}

/* 背景暗一點 */

body::before{

    content:"";

    position:absolute;
    inset:0;

    background:rgba(0,0,0,0.25);

    z-index:0;
}

.container{

    position:relative;
    z-index:1;

    width:550px;

    padding:45px;

    text-align:center;

    background:rgba(255,255,255,0.08);

    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);

    border-radius:28px;

    border:1px solid rgba(255,255,255,0.15);

    box-shadow:
    0 8px 32px rgba(0,0,0,0.2);
}

h1{

    font-size:68px;

    font-weight:400;

    color:white;

    letter-spacing:-2px;

    margin-bottom:10px;
}

p{

    color:rgba(255,255,255,0.8);

    font-size:16px;

    margin-bottom:30px;

    letter-spacing:1px;
}

select{

    width:240px;

    padding:12px 16px;

    border:none;

    border-radius:14px;

    background:rgba(255,255,255,0.85);

    font-size:15px;

    outline:none;

    margin-right:10px;
}

button{

    padding:12px 22px;

    border:none;

    border-radius:14px;

    background:white;

    cursor:pointer;

    font-size:15px;

    transition:0.3s;
}

button:hover{

    transform:translateY(-2px);

    background:#f5f5f5;
}

#result{

    margin-top:30px;

    color:white;

    font-size:20px;

    line-height:2;
}
.mood-buttons{

    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:12px;

    margin-top:25px;
}

.mood-buttons button{

    padding:12px 18px;

    border:none;
    border-radius:999px;

    background:rgba(255,255,255,0.85);

    font-size:15px;

    cursor:pointer;

    transition:0.3s;
}

.mood-buttons button:hover{

    transform:translateY(-3px);

    background:white;
}
